<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.regilan.manualdoaluno_ifbacampusilheus">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_if"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_if"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SobreActivity"
            android:label="@string/title_activity_sobre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".RotinasAcademicasActivity" />
        <activity android:name=".RotinasAcademicasDescricao" />
        <activity android:name=".RamaisActivity" />
        <activity android:name=".ProfessoresActivity" />
        <activity android:name=".TituloTextoActivityGernerico" />
        <activity android:name=".AdicionarTarefaActivity" />
        <activity android:name=".EstagiosActivity" />
        <activity android:name=".CursosActivity" />
        <activity android:name=".ProcessoSeletivoActivity" />
        <activity android:name=".OrganizacaoDidaticaActivity" />

        <receiver android:name=".VerificarTarefaReceiver">
            <intent-filter>
                <action android:name="VERIFICAR_TAREFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AgendarVerificacaoTarefaReceiver">
            <intent-filter>
                <action android:name="AGENDAR_VERIFICACAO" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".FotosActivity" />
        <activity android:name=".CalendarioAcademicoActivity" />
        <activity android:name=".HorarioActivity" />
        <activity android:name=".PlanosDeCursoActivity" />
        <activity android:name=".FichasEstagioActivity" />
        <activity android:name=".TaesActivity"></activity>
    </application>

</manifest>